body, .content {
  background-image:url(../assets/drawable-notlong-mdpi/splash.png);
  background-size:100% 100%;
  background-position:center;
}

@media screen and (max-device-aspect-ratio: 10/16) {
  background-image:url(../assets/drawable-long-mdpi/splash.png);
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
    body, .content {
      background-image:url(../assets/drawable-long-hdpi/splash.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.5) and (min-device-aspect-ratio: 10/15) {
    body, .content {
      background-image:url(../assets/drawable-notlong-hdpi/splash.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
    body, .content {
      background-image:url(../assets/drawable-long-ldpi/splash.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) and (min-device-aspect-ratio: 10/15) {
    body, .content {
      background-image:url(../assets/drawable-notlong-ldpi/splash.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    body, .content {
      background-image:url(../assets/drawable-long-hdpi/splash.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) and (min-device-aspect-ratio: 10/15) {
    body, .content {
      background-image:url(../assets/drawable-notlong-hdpi/splash.png);
    }
}

.ui-loader.ui-body-a.ui-corner-all {
  margin-top: 20% !important;
}
.line-break {
    height:10px;
    display:block;
}
li.ui-li div {
    border-top-width:1px;
}
li.ui-li:first-child div{
    border-top-width:0px;
}
.ui-content .ui-listview {
    margin: 0px;
}